@model IEnumerable<CRM.Models.Contact>

@{
    ViewData["Title"] = "تماس‌ها";
}

<h1>تماس‌ها</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">ایجاد تماس جدید</a>
    <a asp-action="Index" class="btn btn-danger">پاک کردن فیلترها</a>
</p>
<form method="get" class="form-inline" dir="rtl">
    <input style="margin-right:3px" name="filter" class="form-control" placeholder="فیلتر نام خانوادگی" value="@ViewBag.filter" />
    <br />
    <button type="submit" class="btn btn-info">
        <span class="glyphicon glyphicon-search" aria-hidden="true"></span> جستجو
    </button>
</form>
<br />
<table class="table table-striped" dir="rtl">
    <thead>
        <tr>
            <th width="10%">
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th width="10%">
                @Html.DisplayNameFor(model => model.Surname)
            </th>
            <th width="11%">
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th width="11%">
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th width="11%">
                @Html.DisplayNameFor(model => model.Position)
            </th>
            <th width="11%">
                شرکت
            </th>
            <th width="11%">
                کاربر
            </th>
            <th width="25%"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            @if (item.IsDeleted == 0)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Surname)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Phone)
                    </td>
                    <td>
                        <a href="mailto:@item.Email?subject=&body=">@Html.DisplayFor(modelItem => item.Email)</a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Position)
                    </td>
                    <td>
                        <a asp-controller="Companies" asp-action="Details" asp-route-id="@item.CompanyId">
                            @(ViewBag.data != null && ViewBag.data.ContainsKey(item.CompanyId) ? ViewBag.data[item.CompanyId] : "نامشخص")
                        </a>
                    </td>
                    <td>
                        @if (item.UserId != ViewBag.userId)
                        {
                            <a asp-controller="Users" asp-action="Details" asp-route-id="@item.UserId">
                                @(ViewBag.data2 != null && ViewBag.data2.ContainsKey(item.UserId) ? ViewBag.data2[item.UserId] : "نامشخص")
                            </a>
                        }
                        else
                        {
                            <a asp-controller="Accounts" asp-action="Details">
                                @(ViewBag.data2 != null && ViewBag.data2.ContainsKey(item.UserId) ? ViewBag.data2[item.UserId] : "نامشخص")
                            </a>
                        }
                    </td>
                    <td>
                        @if (item.UserId == ViewBag.userId)
                        {
                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">ویرایش</a>
                            <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">جزئیات</a>
                            <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">حذف</a>
                        }
                        else
                        {
                            <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">جزئیات</a>
                        }
                    </td>
                </tr>
            }
        }
    </tbody>
</table>